#h1{
    scale: 2;
}
#alias{
    position: relative;
    top: 15vh;
    scale: 1.5;
}
#pass{
    position: relative;
    top: 15vh;
    scale: 1.5;
}
#in{
    position: relative;
    top: 20vh;
    scale: 1.5;
}
#up{
    position: relative;
    top: 20vh;
    scale: 1.5;
}
#said{
    position: relative;
}
#coms{
    position: relative;
}
#say{
    position: absolute;
    top:2vh;
    left:40vw;
    scale:1.5;
}
#speak{
    position: absolute;
    top:2vh;
    right:40vw;
    scale:1.5;
}
/*how to make sth fix to sth else*/
#chatbox{
    display: flex;
    border:1vh solid black;
    border-style: inset;
    align-content:flex-start;
    margin:auto;
    width: 90vw;
    width: clamp(10vw,70vw,100vw);
    height: 70vh;
    height: clamp(20vh,70vh,80vh);
    overflow: scroll;
    background-color: #65B8BF;
}

